.key {
    border: solid 2px black;
    width: 30px;
    height: 30px;
    margin: 2px;
    font-size: 25px;
    display: inline-block;
}


.key:hover {
    cursor: pointer;
}

.key.used {
    background-color: grey;
}

.key.used:hover {
    cursor: not-allowed;
}